<mat-drawer-container autosize>
    
    <mat-toolbar color="primary">
        <div class="container">
            <div class="row" style="align-items: center; display: flex;">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <a routerLink="/"
                    style="align-items: center; display: flex; color: unset; text-decoration: unset; gap: 1vw;">
                    <img src="assets/favicon.ico" alt="logo">
                    <h1 style="display: inline;">TODO</h1>
                </a>
                <span style="flex-grow: 1;"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                
                <mat-menu #menu="matMenu">
                    <a style="text-decoration: none; color: unset;" mat-menu-item routerLink="/app/account">
                        <mat-icon color="primary">account_circle</mat-icon>
                        <span>Account</span>
                    </a>
                    <hr>
                    <button mat-menu-item (click)="authService.logout()">
                        <mat-icon color="warn">logout</mat-icon>
                        <span>Sign Out</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>

    <mat-drawer #drawer mode="over" class="col-xs-11 col-sm-8 col-md-3">
        <ng-container *ngIf="boardService.find() | async as boards">
            <mat-nav-list>
                <a mat-list-item [routerLink]="board.id" *ngFor="let board of boards">{{ board.title }}</a>
            </mat-nav-list>
        </ng-container>
    </mat-drawer>
    
    <router-outlet></router-outlet>

</mat-drawer-container>