<ng-container *ngIf="{
    boards: boards$ | async,
} as vm">
    <ng-container *ngIf="vm.boards as boards">
        <ng-container *ngIf="boards.loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <ng-container *ngIf="boards.loaded">
            <div id="board-list-container">
                <a mat-raised-button color="accent" class="board" routerLink="new">
                    <div>
                        <h2>Create</h2>
                    </div>
                </a>
                <ng-container *ngFor="let board of Object.values(boards.data!)">
                    <ng-container *ngIf="board.loaded">
                        <a mat-raised-button class="board" [routerLink]="board.data.id">
                            <h2 class="board-title">{{ board.data.title }}</h2>
                        </a>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</ng-container>