<form id="task-form" (ngSubmit)="taskForm.valid && dialogRef.close({ action: 'submit', task: taskForm.value })" [formGroup]="taskForm">
    <mat-toolbar id="task-heading" color="primary">{{ taskForm.controls.title.value || 'New Task' }}</mat-toolbar>
    <div id="task-content">
        <div id="task-header">
            <mat-form-field id="task-title">
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>
            <mat-form-field id="task-status">
                <mat-label>Status</mat-label>
                <mat-select formControlName="stateId">
                    <mat-option *ngFor="let state in data.states" [value]="state.data.id"> {{ state.data.title }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field id="task-description">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
        </mat-form-field>
        <div id="action-bar">
            <button id="delete-button" mat-icon-button color="warn" type="button" (click)="confirm('Delete this task?') && dialogRef.close({ action: 'delete' })" *ngIf="data.task">
                <mat-icon>delete</mat-icon>
            </button>
            <span class="spacer"></span>
            <button id="submit-button" mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </div>
</form>
