@import '/src/import-styles.scss';

#task-form {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: auto;

    & > #task-content {
        padding: .5rem;
        display: flex;
        @extend .gap-sm;
        flex-direction: column;
        align-items: stretch;

        & > #task-header {
            display: grid;
            @extend .gap-sm;
            grid-template-columns: auto min-content;
        }

        & > #action-bar {
            display: flex;
            justify-content: space-between;
        }
    }
}