<ng-container *ngIf="{
    notifications: notifications$ | async,
    readNotification: readNotification$ | async
} as vm">
    <div id="notification-list-container">
        <ng-container *ngIf="vm.notifications as notifications">
            <ng-container *ngFor="let notification of sortNotifications(Object.values(notifications.data))">
                <div class="notification-container">
                    <a style="text-decoration: unset; color: unset;" [routerLink]="getNotificationLink(notification.data)">
                        <mat-card>
                            <div class="notification-title-container">
                                <span>{{ notification.data.title }}</span>
                                <ng-container *ngIf="!notification.data.read">
                                    <button mat-icon-button color="accent" (click)="$event.preventDefault(); $event.stopPropagation(); readNotificationEmitter.next(notification.data)">
                                        <mat-icon>adjust</mat-icon>
                                    </button>
                                </ng-container>
                                <ng-template #NotificationRead>
                                    <span></span>
                                </ng-template>
                            </div>
                            {{ notification.data.createdAt | date }}
                        </mat-card>
                    </a>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-container>
