<ng-container *ngIf="{
    submitBoardStatePerc: submitBoardStatePerc$ | async,
    submitBoard: submitBoard$ | async,
} as vm">

    <form id="board-form" (ngSubmit)="boardForm.valid && submitBoardEmitter.next(boardForm.value)"
        [formGroup]="boardForm">
        <mat-card>
            <mat-card-content>
                <div id="board-title-container">
                    <mat-form-field>
                        <mat-label>Project Name</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div id="create-board-container">
                    <ng-container *ngIf="!vm.submitBoardStatePerc; else submitBoardStateTmpl">
                        <button mat-stroked-button type="button" color="warn" routerLink="..">Cancel</button>
                        <button mat-raised-button type="submit" color="accent">Create</button>
                    
                    </ng-container>
                    <ng-template #submitBoardStateTmpl>
                        
                        <mat-spinner
                            [mode]="[1, 100].includes(vm.submitBoardStatePerc!)  ? 'indeterminate' : 'determinate'"
                            diameter="50" [value]="vm.submitBoardStatePerc"></mat-spinner>

                    </ng-template>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</ng-container>