<ng-container *ngIf="{
    submitBoard: submitBoard$ | async,
    submitBoardState: submitBoardState$ | async,
} as vm">
    <form id="board-form" (ngSubmit)="boardForm.valid && submitBoardEmitter.next(boardForm.value)"
        [formGroup]="boardForm">
        <mat-card>
            <mat-card-content>
                <div id="board-title-container">
                    <mat-form-field>
                        <mat-label>Board Name</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <ng-container *ngIf="!vm.submitBoardState; else submitBoardStateTmpl">
                    <div id="create-board-container">
                        <button mat-stroked-button type="button" color="warn" routerLink="..">Cancel</button>
                        <button mat-raised-button type="submit" color="accent">Create</button>
                    </div>
                </ng-container>
                <ng-template #submitBoardStateTmpl>
                    <div id="creating-board-container">
                        <mat-spinner
                            mode="indeterminate"
                            diameter="50"></mat-spinner>
                    </div>
                </ng-template>
            </mat-card-actions>
        </mat-card>
    </form>
</ng-container>